BPM/mol_recruit_process_lib/process/EscalationParamters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://mol.gov.qa/recruitment/process"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="EscalationParamters">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="subject"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="body" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="duration"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>