BPM/gsb_stub_lib/mol/gov/qa/customerService/recruitment/specifications/v1_0/EstablishmentHasActiveLaborAppInfo_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="v1_0" targetNamespace="urn:mol.gov.qa/customerService/recruitment/specifications/v1_0/" xmlns:tns="urn:mol.gov.qa/customerService/recruitment/specifications/v1_0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:mol.gov.qa/customerService/recruitment/specifications/v1_0/" xmlns:igovxsd="urn:igov.gov.qa/commonTypes/xml/schemas/v1_0/" xmlns:moixsd="urn:moi.gov.qa/establishmentInfo/xml/schemas/v1_0/" xmlns:molxsd="urn:mol.gov.qa/customerService/recruitment/xml/schemas/v1_0/">
      <xsd:import namespace="urn:igov.gov.qa/commonTypes/xml/schemas/v1_0/" schemaLocation="../../../../../../../igov/gov/qa/commonTypes/xml/schemas/v1_0/CommonTypes_v1_0.xsd"/>
      <xsd:import namespace="urn:mol.gov.qa/customerService/recruitment/xml/schemas/v1_0/" schemaLocation="../../xml/schemas/v1_0/LaborRecruitment_v1_0.xsd"/>
      <xsd:import namespace="urn:moi.gov.qa/establishmentInfo/xml/schemas/v1_0/" schemaLocation="../../../../../../../moi/gov/qa/establishmentInfo/xml/schemas/v1_0/EstablishmentSecurity_v1_0.xsd"/>
      <xsd:complexType name="hasEstablishmentActiveLaborRecAppRequest">
        <xsd:sequence>
          <xsd:element name="estID" type="moixsd:EstablishmentIdType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="EstablishmentHasActiveLaborAppInfohasEstablishmentActiveLaborRecAppRequest1" type="tns:hasEstablishmentActiveLaborRecAppRequest"/>
      <xsd:complexType name="hasEstablishmentActiveLaborRecAppResponse">
        <xsd:sequence>
          <xsd:element name="estHasActiveApp" type="molxsd:ActiveLaborRecruitmentApplicationStatusType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="EstablishmentHasActiveLaborAppInfohasEstablishmentActiveLaborRecAppResponse1" type="tns:hasEstablishmentActiveLaborRecAppResponse"/>
      <xsd:element name="EstablishmentHasActiveLaborAppInfohasEstablishmentActiveLaborRecAppFault1" type="igovxsd:CommonErrorStructure"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EstablishmentHasActiveLaborAppInfohasEstablishmentActiveLaborRecAppRequest">
    <wsdl:part element="tns:EstablishmentHasActiveLaborAppInfohasEstablishmentActiveLaborRecAppRequest1" name="estID"/>
  </wsdl:message>
  <wsdl:message name="EstablishmentHasActiveLaborAppInfohasEstablishmentActiveLaborRecAppResponse">
    <wsdl:part element="tns:EstablishmentHasActiveLaborAppInfohasEstablishmentActiveLaborRecAppResponse1" name="hasActiveApp"/>
  </wsdl:message>
  <wsdl:message name="EstablishmentHasActiveLaborAppInfohasEstablishmentActiveLaborRecAppFault">
    <wsdl:part element="tns:EstablishmentHasActiveLaborAppInfohasEstablishmentActiveLaborRecAppFault1" name="fault"/>
  </wsdl:message>
  <wsdl:portType name="EstablishmentHasActiveLaborAppInfo">
    <wsdl:operation name="hasEstablishmentActiveLaborRecApp">
      <wsdl:input message="tns:EstablishmentHasActiveLaborAppInfohasEstablishmentActiveLaborRecAppRequest"/>
      <wsdl:output message="tns:EstablishmentHasActiveLaborAppInfohasEstablishmentActiveLaborRecAppResponse"/>
      <wsdl:fault message="tns:EstablishmentHasActiveLaborAppInfohasEstablishmentActiveLaborRecAppFault" name="hasEstablishmentActiveLaborRecAppFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>