BPM/gsb_stub_lib/mol/gov/qa/customerService/recruitment/specifications/v1_0/RecruitmentProcessPreconditionValidation_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="v1_0" targetNamespace="urn:mol.gov.qa/customerService/recruitment/specifications/v1_0/" xmlns:tns="urn:mol.gov.qa/customerService/recruitment/specifications/v1_0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:mol.gov.qa/customerService/recruitment/specifications/v1_0/" xmlns:igovxsd="urn:igov.gov.qa/commonTypes/xml/schemas/v1_0/" xmlns:khmxsd="urn:kahramaa.com.qa/billing/xml/schemas/v1_0/" xmlns:moixsd="urn:moi.gov.qa/establishmentInfo/xml/schemas/v1_0/" xmlns:molxsd="urn:mol.gov.qa/customerService/recruitment/xml/schemas/v1_0/">
      <xsd:import namespace="urn:igov.gov.qa/commonTypes/xml/schemas/v1_0/" schemaLocation="../../../../../../../igov/gov/qa/commonTypes/xml/schemas/v1_0/CommonTypes_v1_0.xsd"/>
      <xsd:import namespace="urn:mol.gov.qa/customerService/recruitment/xml/schemas/v1_0/" schemaLocation="../../xml/schemas/v1_0/LaborRecruitment_v1_0.xsd"/>
      <xsd:import namespace="urn:kahramaa.com.qa/billing/xml/schemas/v1_0/" schemaLocation="../../../../../../../kahramaa/com/qa/billing/xml/schemas/v1_0/Billing_v1_0.xsd"/>
      <xsd:import namespace="urn:moi.gov.qa/establishmentInfo/xml/schemas/v1_0/" schemaLocation="../../../../../../../moi/gov/qa/establishmentInfo/xml/schemas/v1_0/EstablishmentSecurity_v1_0.xsd"/>
      <xsd:complexType name="ValidateEstablishmentRequest">
        <xsd:sequence>
          <xsd:element name="estID" type="moixsd:EstablishmentIdType"/>
          <xsd:element minOccurs="0" name="electricityNumber" type="khmxsd:ElectricityNumberType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RecruitmentProcessPreconditionValidationValidateEstablishmentRequest1" type="tns:ValidateEstablishmentRequest"/>
      <xsd:element name="RecruitmentProcessPreconditionValidationValidateEstablishmentRequest2" type="molxsd:ProcessHeader"/>
      <xsd:complexType name="ValidateEstablishmentResponse">
        <xsd:sequence>
          <xsd:element name="ValidateEstablishmentResult" type="molxsd:ValidationResults"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RecruitmentProcessPreconditionValidationValidateEstablishmentResponse1" type="tns:ValidateEstablishmentResponse"/>
      <xsd:element name="RecruitmentProcessPreconditionValidationValidateEstablishmentFault1" type="igovxsd:CommonErrorStructure"/>
      <xsd:complexType name="ValidateEstablishmentWithInfoRequest">
        <xsd:sequence>
          <xsd:element name="estID" type="moixsd:EstablishmentIdType"/>
          <xsd:element minOccurs="0" name="electricityNumber" type="khmxsd:ElectricityNumberType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RecruitmentProcessPreconditionValidationValidateEstablishmentWithInfoRequest1" type="tns:ValidateEstablishmentWithInfoRequest"/>
      <xsd:element name="RecruitmentProcessPreconditionValidationValidateEstablishmentWithInfoRequest2" type="molxsd:ProcessHeader"/>
      <xsd:complexType name="ValidateEstablishmentWithInfoResponse">
        <xsd:sequence>
          <xsd:element name="ValidateEstablishmentResult" type="molxsd:ValidationResults"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RecruitmentProcessPreconditionValidationValidateEstablishmentWithInfoResponse1" type="tns:ValidateEstablishmentWithInfoResponse"/>
      <xsd:element name="RecruitmentProcessPreconditionValidationValidateEstablishmentWithInfoFault1" type="igovxsd:CommonErrorStructure"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="RecruitmentProcessPreconditionValidationValidateEstablishmentRequest">
    <wsdl:part element="tns:RecruitmentProcessPreconditionValidationValidateEstablishmentRequest1" name="validateEstablishmentReq"/>
    <wsdl:part element="tns:RecruitmentProcessPreconditionValidationValidateEstablishmentRequest2" name="processHeader"/>
  </wsdl:message>
  <wsdl:message name="RecruitmentProcessPreconditionValidationValidateEstablishmentResponse">
    <wsdl:part element="tns:RecruitmentProcessPreconditionValidationValidateEstablishmentResponse1" name="validateEstablishmentRes"/>
  </wsdl:message>
  <wsdl:message name="RecruitmentProcessPreconditionValidationValidateEstablishmentFault">
    <wsdl:part element="tns:RecruitmentProcessPreconditionValidationValidateEstablishmentFault1" name="fault"/>
  </wsdl:message>
  <wsdl:message name="RecruitmentProcessPreconditionValidationValidateEstablishmentWithInfoRequest">
    <wsdl:part element="tns:RecruitmentProcessPreconditionValidationValidateEstablishmentWithInfoRequest1" name="validateEstablishmentWithInfoReq"/>
    <wsdl:part element="tns:RecruitmentProcessPreconditionValidationValidateEstablishmentWithInfoRequest2" name="processHeader"/>
  </wsdl:message>
  <wsdl:message name="RecruitmentProcessPreconditionValidationValidateEstablishmentWithInfoResponse">
    <wsdl:part element="tns:RecruitmentProcessPreconditionValidationValidateEstablishmentWithInfoResponse1" name="validateEstablishmentWithInfoRes"/>
  </wsdl:message>
  <wsdl:message name="RecruitmentProcessPreconditionValidationValidateEstablishmentWithInfoFault">
    <wsdl:part element="tns:RecruitmentProcessPreconditionValidationValidateEstablishmentWithInfoFault1" name="fault"/>
  </wsdl:message>
  <wsdl:portType name="RecruitmentProcessPreconditionValidation">
    <wsdl:operation name="ValidateEstablishment">
      <wsdl:input message="tns:RecruitmentProcessPreconditionValidationValidateEstablishmentRequest"/>
      <wsdl:output message="tns:RecruitmentProcessPreconditionValidationValidateEstablishmentResponse"/>
      <wsdl:fault message="tns:RecruitmentProcessPreconditionValidationValidateEstablishmentFault" name="ValidateEstablishmentFault"/>
    </wsdl:operation>
    <wsdl:operation name="ValidateEstablishmentWithInfo">
      <wsdl:input message="tns:RecruitmentProcessPreconditionValidationValidateEstablishmentWithInfoRequest"/>
      <wsdl:output message="tns:RecruitmentProcessPreconditionValidationValidateEstablishmentWithInfoResponse"/>
      <wsdl:fault message="tns:RecruitmentProcessPreconditionValidationValidateEstablishmentWithInfoFault" name="ValidateEstablishmentWithInfoFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>