BPM_V1_0/mol_recruit_process_lib_v1_0/process/ILaborRecuirmentApplication.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="ILaborRecuirmentApplication" targetNamespace="http://mol.gov.qa/Process/WSDL/ILaborRecuirmentApplication/v1" xmlns:bons0="http://mol.gov.qa/Process/WSDL/ILaborRecuirmentApplication/v1" xmlns:bons1="urn:mol.gov.qa/customerService/recruitment/xml/schemas/v1_0/" xmlns:bons2="http://mol.gov.qa/Process/WSDL/ILaborRecuirmentApplication/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
    <xsd:schema targetNamespace="http://mol.gov.qa/Process/WSDL/ILaborRecuirmentApplication/v1" xmlns:tns="http://ict.gov.qa/Process/WSDL/ILaborRecuirmentApplication/v1">
            <xsd:import namespace="urn:mol.gov.qa/customerService/recruitment/xml/schemas/v1_0/" schemaLocation="../mol/gov/qa/customerService/recruitment/xml/schemas/v1_0/LaborRecruitment_v1_0.xsd"/>
            <xsd:element name="application" nillable="true" type="bons1:ApplicationLW"/>
            <xsd:element name="pHeader" nillable="true" type="bons1:ProcessHeader"/>
            <xsd:element name="ApplicationLW_element" nillable="true" type="bons1:ApplicationLW"/>
            <xsd:element name="ProcessHeader_element" nillable="true" type="bons1:ProcessHeader"/>
        </xsd:schema>
    <xsd:schema/>
  </wsdl:types>
    <wsdl:message name="processApplicationRequest">
    <wsdl:part element="bons2:ApplicationLW_element" name="application"/>
    <wsdl:part element="bons2:ProcessHeader_element" name="pHeader"/>
    </wsdl:message>
    <wsdl:portType name="ILaborRecuirmentApplication">
    <wsdl:operation name="processApplication">
            <wsdl:input message="bons2:processApplicationRequest" name="processApplicationRequest"/>
        </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>