BPM_V1_0/mol_recruit_process_lib_v1_0/mol/gov/qa/customerService/recruitment/specifications/v1_0/LaborRecruitmentBusinessRules_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="v1_0" targetNamespace="urn:mol.gov.qa/customerService/recruitment/specifications/v1_0/" xmlns:tns="urn:mol.gov.qa/customerService/recruitment/specifications/v1_0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:mol.gov.qa/customerService/recruitment/specifications/v1_0/" xmlns:igovxsd="urn:igov.gov.qa/commonTypes/xml/schemas/v1_0/" xmlns:moixsd="urn:moi.gov.qa/establishmentInfo/xml/schemas/v1_0/" xmlns:molxsd="urn:mol.gov.qa/customerService/recruitment/xml/schemas/v1_0/">
      <xsd:import namespace="urn:igov.gov.qa/commonTypes/xml/schemas/v1_0/" schemaLocation="../../../../../../../igov/gov/qa/commonTypes/xml/schemas/v1_0/CommonTypes_v1_0.xsd"/>
      <xsd:import namespace="urn:mol.gov.qa/customerService/recruitment/xml/schemas/v1_0/" schemaLocation="../../xml/schemas/v1_0/LaborRecruitment_v1_0.xsd"/>
      <xsd:import namespace="urn:moi.gov.qa/establishmentInfo/xml/schemas/v1_0/" schemaLocation="../../../../../../../moi/gov/qa/establishmentInfo/xml/schemas/v1_0/EstablishmentSecurity_v1_0.xsd"/>
      <xsd:complexType name="checkEstablishmentRequest">
        <xsd:sequence>
          <xsd:element name="estID" type="moixsd:EstablishmentIdType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="LaborRecruitmentBusinessRulescheckEstablishmentRequest1" type="tns:checkEstablishmentRequest"/>
      <xsd:complexType name="checkEstablishmentResponse">
        <xsd:sequence>
          <xsd:element name="validEstablishment" type="molxsd:ValidEstablishment"/>
          <xsd:element minOccurs="0" name="rejectionReason" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="LaborRecruitmentBusinessRulescheckEstablishmentResponse1" type="tns:checkEstablishmentResponse"/>
      <xsd:element name="LaborRecruitmentBusinessRulescheckEstablishmentFault1" type="igovxsd:CommonErrorStructure"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LaborRecruitmentBusinessRulescheckEstablishmentRequest">
    <wsdl:part element="tns:LaborRecruitmentBusinessRulescheckEstablishmentRequest1" name="estID"/>
  </wsdl:message>
  <wsdl:message name="LaborRecruitmentBusinessRulescheckEstablishmentResponse">
    <wsdl:part element="tns:LaborRecruitmentBusinessRulescheckEstablishmentResponse1" name="validEstblishment"/>
  </wsdl:message>
  <wsdl:message name="LaborRecruitmentBusinessRulescheckEstablishmentFault">
    <wsdl:part element="tns:LaborRecruitmentBusinessRulescheckEstablishmentFault1" name="fault"/>
  </wsdl:message>
  <wsdl:portType name="LaborRecruitmentBusinessRules">
    <wsdl:operation name="checkEstablishment">
      <wsdl:input message="tns:LaborRecruitmentBusinessRulescheckEstablishmentRequest"/>
      <wsdl:output message="tns:LaborRecruitmentBusinessRulescheckEstablishmentResponse"/>
      <wsdl:fault message="tns:LaborRecruitmentBusinessRulescheckEstablishmentFault" name="checkEstablishmentFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>