BPM_V1_0/mol_recruit_process_lib_v1_0/moi/gov/qa/establishmentInfo/specifications/v1_0/EstablishmentInfo_v1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="v1_0" targetNamespace="urn:moi.gov.qa/establishmentInfo/specifications/v1_0/" xmlns:tns="urn:moi.gov.qa/establishmentInfo/specifications/v1_0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:moi.gov.qa/establishmentInfo/specifications/v1_0/" xmlns:igovxsd="urn:igov.gov.qa/commonTypes/xml/schemas/v1_0/" xmlns:moixsd="urn:moi.gov.qa/establishmentInfo/xml/schemas/v1_0/">
      <xsd:import namespace="urn:igov.gov.qa/commonTypes/xml/schemas/v1_0/" schemaLocation="../../../../../../igov/gov/qa/commonTypes/xml/schemas/v1_0/CommonTypes_v1_0.xsd"/>
      <xsd:import namespace="urn:moi.gov.qa/establishmentInfo/xml/schemas/v1_0/" schemaLocation="../../xml/schemas/v1_0/EstablishmentSecurity_v1_0.xsd"/>
      <xsd:complexType name="getEstablishmentInfoByIdRequest">
        <xsd:sequence>
          <xsd:element name="estId" type="moixsd:EstablishmentIdType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="EstablishmentInfogetEstablishmentInfoByIdRequest1" type="tns:getEstablishmentInfoByIdRequest"/>
      <xsd:complexType name="getEstablishmentInfoByIdResponse">
        <xsd:sequence>
          <xsd:element name="establishmentInfo" type="moixsd:EstablishmentInfoType"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="EstablishmentInfogetEstablishmentInfoByIdResponse1" type="tns:getEstablishmentInfoByIdResponse"/>
      <xsd:element name="EstablishmentInfogetEstablishmentInfoByIdFault1" type="igovxsd:CommonErrorStructure"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EstablishmentInfogetEstablishmentInfoByIdRequest">
    <wsdl:part element="tns:EstablishmentInfogetEstablishmentInfoByIdRequest1" name="estID"/>
  </wsdl:message>
  <wsdl:message name="EstablishmentInfogetEstablishmentInfoByIdResponse">
    <wsdl:part element="tns:EstablishmentInfogetEstablishmentInfoByIdResponse1" name="estInfo"/>
  </wsdl:message>
  <wsdl:message name="EstablishmentInfogetEstablishmentInfoByIdFault">
    <wsdl:part element="tns:EstablishmentInfogetEstablishmentInfoByIdFault1" name="fault"/>
  </wsdl:message>
  <wsdl:portType name="EstablishmentInfo">
    <wsdl:operation name="getEstablishmentInfoById">
      <wsdl:input message="tns:EstablishmentInfogetEstablishmentInfoByIdRequest"/>
      <wsdl:output message="tns:EstablishmentInfogetEstablishmentInfoByIdResponse"/>
      <wsdl:fault message="tns:EstablishmentInfogetEstablishmentInfoByIdFault" name="getEstablishmentInfoByIdFault"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>